
body{
	background-color: rgb(255,225,200);
	font-family: 'Roboto', sans-serif;
}

h1{
	text-align: center;
	color:rgb(50,50,50);

}

.intro{
	background-color: rgb(145,70,0);
	padding: 0.5% 2%; 
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 30px;
	display: flex;
}

.introContent{
	background-color: rgb(255,225,200);
	padding-left: 15px;
	padding:10px;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 50%;
}


.lessonContent{
	background-color: rgb(145,70,0);
	padding: 0.5% 2%;  
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 30px;

}

.lessonTitle{
	color:white;
}

.bulletContent{
	background-color: rgb(255,225,200);
	padding-left: 15px;
	padding:10px;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.bulletTitle{

	border-bottom-style: solid;
    border-width: 1px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

